.root textarea{
  border:0;
  padding:0;
  outline:none;
  resize:none;
  background:none;
}
.root>.noteEditPage{
  position:relative;
  margin:0 auto;
  height:100%;
}
.root>.noteEditPage>.topBar .wrap{
  width:calc(.15*var(--zoom)*1px);
  aspect-ratio:1/1;
  font-size:calc(.09*var(--zoom)*1px);
}
.root>.noteEditPage>.topBar .wrap.off{
  color:#7f7f7f;
}
.root>.noteEditPage>.topBar .delete{
  width:calc(.15*var(--zoom)*1px);
  aspect-ratio:1/1;
  font-size:calc(.09*var(--zoom)*1px);
}
.root>.noteEditPage>.topBar .save{
  width:calc(.15*var(--zoom)*1px);
  aspect-ratio:1/1;
  font-size:calc(.09*var(--zoom)*1px);
}
.root>.noteEditPage>.topBar .save.saved{
  color:#7f7f7f;
}
.root>.noteEditPage>.main{
  padding-bottom:0;
  display:flex;
}
.root>.noteEditPage textarea{
  box-sizing:border-box;
  width:calc(var(--zoom)*1px);
  aspect-ratio:2/1;
  white-space:pre;
  font-size:calc(.05*var(--zoom)*1px);
  padding:calc(0.04*var(--zoom)*1px);
}
.root>.noteEditPage textarea.wrap{
  white-space:pre-wrap;
  word-break:break-all;
}
.root.dark>.noteEditPage textarea{
  color:#fff;
}
.root.light>.noteEditPage textarea{
  color:#000;
}
