.root>.noteEditPage{
  position:relative;
  margin:0 auto;
  height:100%;
}
.root>.noteEditPage>.topBar .delete{
  width:calc(.15*var(--zoom)*1px);
  aspect-ratio:1/1;
  font-size:calc(.07*var(--zoom)*1px);
}
.root>.noteEditPage>.topBar .save{
  width:calc(.15*var(--zoom)*1px);
  aspect-ratio:1/1;
  font-size:calc(.07*var(--zoom)*1px);
}
.root>.noteEditPage>.topBar .save.saved{
  color:#7f7f7f;
}
.root>.noteEditPage>.main{
  padding-bottom:0;
  display:flex;
}
.root>.noteEditPage .noteEdit{
  flex:1 1 0;
  min-width:0;
  display:flex;
  flex-direction:column;
}
.root>.noteEditPage .noteEdit>.editor{
  flex:1 1 0;
  min-height:0;
  outline:none;
  font-size:calc(.05*var(--zoom)*1px);
  padding:calc(0.04*var(--zoom)*1px);
  scroll-padding:calc(0.04*var(--zoom)*1px);
  overflow:auto;
  line-height:1.5;
  font-family:monospace;
  white-space:pre;
}
.root>.noteEditPage .noteEdit.wrap>.editor{
  white-space:pre-wrap;
  word-break:break-all;
}
.root>.noteEditPage .noteEdit>.toolBar{
  display:flex;
  justify-content:flex-end;
  box-shadow:0 0 calc(.01*var(--zoom)*1px) rgba(0,0,0,.6);
}
.root>.noteEditPage .noteEdit>.toolBar .wrap{
  width:calc(.1*var(--zoom)*1px);
  aspect-ratio:1/1;
  font-size:calc(.05*var(--zoom)*1px);
}
.root>.noteEditPage .noteEdit>.toolBar .wrap.off{
  color:#7f7f7f;
}
